%h1= 'Status of microservices'
%h2= '104.248.249.58'
- if @available
  %h3= 'Server is available and running on port 80.'
- else
  %h3= 'Server is not available.'

%h1= 'SPARQL query'
%iframe{:height => "100%", :width => "100%", :src => "http://localhost:7200/sparql"}
  %p Placeholder text; only shows up if the page DOESN'T render!
