- @page_title = 'Settings'
- flash.each do |type, msg|
  %div
    = msg

.table-responsive
  %table.table
    %thead
      %tr
        %th= 'Name'
        %th= 'Username'
        %th= 'Created at'
        %th= 'Updated at'
        %th= 'Options'
        %th= 'Actions'
    %tbody
      - if @settings.count == 0
        %tr
          %td{colspan: 4}= 'There are no settings currently.'
      - @settings.each do |setting|
        %tr
          %td= setting.name
          %td= setting.username
          %td= setting.created_at
          %td= setting.updated_at
          %td= setting.options
          %td
            = link_to 'Edit', edit_setting_path(setting), class: 'btn btn-outline-primary btn-sm'
            = link_to 'Delete', setting_path(setting), :method => :delete, class: 'btn btn-outline-danger btn-sm'

